#root {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
          "left-col right-col"
          "projects projects" ;
  grid-gap: 2vw;
  width: 50%;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  color: #090c22;
}

@media (max-width: 700px) {
  body, html {
    width: 100vw;
    margin: 0;
  }

  #root {
    grid-template-rows: .1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
            "left-col"
            "right-col"
            "projects";
    grid-gap: 2vw;
    width: 100%;
    text-align: center;
    margin: 0;
  }
}

.about {
  width: 100%;
}

.left-column {
  width: 100%;
  grid-area: left-col;
}
.right-column {
  grid-area: right-col;
  width: 100%;
  padding-left: 5%;
}

@media (max-width: 700px) {
  .right-column {
    padding-left: 0%;
  }
}


.about_me-img {
  height: 280px;
  width: auto;
  margin: 20px 0;
}

.root__main-header {
  height: 70%;
  font-family: 'Roboto Condensed', sans-serif;
}

@media (max-width: 700px) {
  .root__main-header {
    height: auto;
  }
}

@media (max-width: 700px) {
  .about__description{
    width: 90%;
    margin: auto;
  }
}

h2 {
  font-family: 'EB Garamond', serif;
  color: #c51624;
  margin: 5% 0;
}

.projects {
  grid-area: projects;
}

.projects__container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
          "design frontend";
  grid-gap: 2vw;
}

@media (max-width: 700px) {
  .projects__container {
    text-align: left;
    width: 90%;
    margin: auto;
  }
}

.projects__title {
  grid-area: title;
  width: 90%;
  /*margin: 5% 0;*/
}

.projects__design-title {
  width: 90%;
  color: #090c22;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}

.projects__frontend-title {
  color: #090c22;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}


@media (max-width: 700px) {
  .projects__container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
            "design"
            "frontend";
    grid-gap: 2vw;
  }

  br {
    display: none;
  }

  .projects__design-title,
  .projects__frontend-title {
    margin-bottom: 2%;
  }
}

.about {
  margin-top: 30%;
  height: 66%;
}

@media (max-width: 700px) {
  .about {
    margin-top: 0;
  }
}

.projects__design-projects {
  /*display: flex;*/
  /*justify-content: space-between;*/
}

.projects__project_left {
  margin-bottom: 20px;
}

.projects__project_right {
  margin-bottom: 20px;
}

.projects__frontend {
  grid-area: frontend;
}

.projects__design {
  grid-area: design;
}

a:link,
a:visited {
  font-size: .9em;
  color: #090c22;
}
